#Navigation ul {
    list-style: none;
}

#Navigation ul li {
    background-color: #F5F6F2;
    border:none;
    width:120px;
    height:35px;
    text-align:center;
    line-height:35px;
}

    #Navigation ul li a {
        text-decoration: none;
        color: #B2BBBE;
        display:block;
    }
